%row-container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    min-width: 90%;

    @media screen and (max-width: 500px) {
      width: 100%;
      max-width: 450px;
    }
  }
}