._title {
	font-size: 3rem;
}

._listitem {
	padding: 20px 30px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 4px 6px 10px 1px #0000005c;
	transition: all 0.3s;
	position: relative;
	cursor: pointer;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 4px 9px 10px 1px #0000006d;
	}

	&__title {
		margin: 0 0 10px;
		font-size: 1.3rem;
	}
	&__content {
		margin: 0;
		font-size: 0.9rem;
	}
	&__author {
		position: absolute;
		bottom: 20px;
		right: 30px;
		font-size: 0.8rem;
		color: var(--navy);
	}
}
