@import '../../styles/placeholders';

._row {
	@extend %row-container;
	height: 90px;
	background-color: var(--orange);

	._container {
		display: grid;
    grid-template-columns: 70px auto 200px;
		align-items: center;
    gap: 20px;

		._logo {
			color: var(--white);
			width: 70px;
			height: 70px;
			object-fit: contain;
		}

		._user {
			display: grid;
			grid-template-columns: auto 50px;
			justify-content: flex-end;
			align-items: center;
			gap: 20px;
      grid-column: 3/4;
      width: 200px;

			&__name {
				font-size: 14px;
				color: var(--white);
			}
			&__avatar {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: var(--space);
			}
		}
	}
}
